asgiref
black
cffi
click
cryptography
Django
django-rest-knox
django-tenants
djangorestframework
mypy-extensions
pathspec
platformdirs
psycopg2-binary
pycparser
python-dateutil
pytz
regex
six
sqlparse
tomli
typing-extensions
